<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87606093584-25f82ggeiipcrm9vgift4dta6c32d6du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87606093584-25f82ggeiipcrm9vgift4dta6c32d6du</string>
	<key>API_KEY</key>
	<string>AIzaSyA_iBwow4crm1m3xb2CIYZ3M8PJbuw2IX4</string>
	<key>GCM_SENDER_ID</key>
	<string>87606093584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.animlaowner</string>
	<key>PROJECT_ID</key>
	<string>vet-clinic-8f893</string>
	<key>STORAGE_BUCKET</key>
	<string>vet-clinic-8f893.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87606093584:ios:09503cf115dcf1ad552795</string>
</dict>
</plist>